services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env.dev
    environment:
      NODE_ENV: development
      DATABASE_URL: postgresql://postgres:postgres@localhost:5430/app_db
      REDIS_HOST: redis://redis:6379
    ports:
      - "${PORT}:9000"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    depends_on:
      - redis
      - postgres
    networks:
      - elrecord_network

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db

    ports:
      - "5430:5430"

    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - elrecord_network

  redis:
    image: redis:7-alpine
    container_name: redis-elrecord-dev
    ports:
      - "6379:6379"
    networks:
      - elrecord_network
volumes:
  postgres_data:

networks:
  elrecord_network:
    driver: bridge
