version: "3.9"

services:
  app:
    container_name: elrecord-backend-live
    build:
      context: .
      dockerfile: Dockerfile
      args:
        DATABASE_URL: ${DATABASE_URL}
    env_file:
      - .env
    environment:
      NODE_ENV: production
      REDIS_HOST: redis://redis:6379
    depends_on:
      - redis
    restart: always
    networks:
      - elrecord_network

  redis:
    image: redis:7-alpine
    container_name: redis
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - elrecord_network

  nginx:
    image: nginx:alpine
    container_name: elrecord-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: always
    networks:
      - elrecord_network

volumes:
  redis_data:

networks:
  elrecord_network:
    driver: bridge
