version: "3.9"

services:
  app:
    container_name: elrecord-backend-live
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    environment:
      NODE_ENV: production
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/app_db
      REDIS_HOST: redis://redis:6379
    depends_on:
      - redis
      - postgres
    restart: always
    networks:
      - elrecord_network

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5430:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - elrecord_network

  redis:
    image: redis:7-alpine
    container_name: redis
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - elrecord_network

  nginx:
    image: nginx:alpine
    container_name: elrecord-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    restart: always
    networks:
      - elrecord_network

volumes:
  postgres_data:
  redis_data:
  
networks:
  elrecord_network:
    driver: bridge
