version: "3.8"
services:
  mongodb:
    image: mongo:8
    container_name: mongo_container
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: mongo
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
