version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db

    ports:
      - "5430:5430"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
